@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,700;0,900;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Merriweather:ital,wght@0,300;0,700;0,900;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap');

/* Styles for the About component */
.about-container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: black;
  color: white;
  width: 100%;
}

.text-part {
  flex: 1;
  padding: 20px;
  width: 50%;
}

.welcome {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 1.1;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.text-part h3 {
  margin-top: 0.35em;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin-right: calc(0.05em * -1);
  text-transform: none;
  padding-bottom: 0.7em;
}

.text-part button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height:80%;
  width: 50%;
}

.about-image {
 width: auto;
  height: 100%;
}
.about-image img {
  width: 300px;
}

.about_p {
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: 0em;
  text-transform: none;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 0.4em;
}
