@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");

.skill {
  padding: 2% 0 0 0;
  position: relative;
  width: 100%;
  left: 0px;
  min-height: 300px;
  background-color: rgb(248,248,248);
}
.container {
  margin: 3% 10%;
}
.skill-bx {
  text-align: center;
  padding: 2px 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.skill-slider {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 100%;
  height: 100%;
  /* margin: 0 auto 15px auto; */
}

.events-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.events-title {
  color: #6b63a0;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left;
}

.events-heading {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 3em;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  padding: 0.5em 0;
  text-align: left;
}

.events-desc {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  text-transform: none;
  color: #060507;
  text-align: left;
  width: 60%;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin-right: calc(0.25em * -1);
  color: rgb(255, 255, 255);
  font-size: 0.85em;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
}
