.church-nav {
  height: 12vh;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.church-ul-menu ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.church-ul-menu ul li {
  cursor: pointer;
}
