.ministries-container {
  background-color: skyblue;
}
.ministries-wraper {
  padding: 0 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 300px;
}

.grid-item {
  text-align: center;
  min-height: 300px;
  display: flex;
}

.ministries-heading {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  line-height: 1.1;
  margin: 0.35em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  padding: 1em;
}

.ministries-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(248, 248, 248);
  width: 50%;
}

.ministry-imge {
  width: 50%;
}
.ministry-name {
  color: #504d66;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.1;
  text-transform: uppercase;
}

.ministry-desc {
  font-size: 1.5em;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-top: 0.35em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  text-align: start;
}

.ministry-link {
  display: flex;
  align-items: center;
  color: rgb(166, 166, 166);
  font-size: 0.85em;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-right: calc(0.2em * -1);
  margin-top: 2%;
}
